[submodule "dipiper-server"]
	path = dipiper-server
	url = https://github.com/chiro2001/dipiper-server
[submodule "financial-frontend"]
	path = financial-frontend
	url = https://github.com/chiro2001/financial-frontend
[submodule "simple-lstm-server"]
	path = simple-lstm-server
	url = https://github.com/chiro2001/simple-lstm-server
